:root 
{
    --cmp-c-VeryDarkMagenta: hsl(300, 43%, 22%);
    --cmp-c-SoftPink: hsl(333, 80%, 67%);

    --cmp-c-DarkGrayishMagenta: hsl(303, 10%, 53%);
    --cmp-c-LightGrayishMagenta: hsl(300, 24%, 96%);
    --cmp-c-White: hsl(0, 0%, 100%);

    --cmp-f-1: "League Spartan", sans-serif;
}

body 
{
    margin:0;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}

/* Typography */

html {
  font-size: 17px;  
}

.cmp 
{
    font-family: var(--cmp-f-1);
    line-height: 1.3;
    font-weight: 500;
}

.cmp h1 
{
    font-size: 2.35rem;
    line-height: .8;
    color: var(--cmp-c-VeryDarkMagenta);
}

.cmp__header-body 
{
    font-size: 1.117rem;
    color: var(--cmp-c-DarkGrayishMagenta);
}

.cmp h4 
{
    font-size: 1rem;
}

.cmp__rating-text 
{
    color: var(--cmp-c-VeryDarkMagenta);
}


.cmp__testimonial-name
{
    color: var(--cmp-c-White);
}

.cmp__testimonial-desc 
{
    color: var(--cmp-c-SoftPink);
    font-weight: 400;
}


.cmp__testimonial-body
{
    color: var(--cmp-c-White);
}

@media (min-width: 1000px)
{
    .cmp h1 
    {
        font-size: 3.29rem;
    }
}



/* Layout */

.cmp {
    background-image: url(./images/bg-pattern-top-mobile.svg), url(.//images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding: 4.82em 6.4%;
}

.cmp__header 
{
    text-align: center;
    margin-bottom: 2.88em;
}

.cmp__intro {
    margin-bottom: 2.35rem;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}

.cmp__ratings {
    display: flex;
    flex-direction: column;
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
    gap: .88em;
}

.cmp__rating {
    background-color: var(--cmp-c-LightGrayishMagenta);
    padding: .94em;
    display: flex;
    flex-direction: column;
    gap: .94em;
    max-width: 445px;
}

.cmp__stars {
    margin-bottom: 0;
}

.cmp__rating-text {
    margin-top: 0;
}


.cmp__testimonials 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .94em;
}

.cmp__testimonial {
    background-color: var(--cmp-c-VeryDarkMagenta);
    border-radius: 8px;
    padding: 2.35em 1.88em;
    max-width: 350px;
}

.cmp__testimonial-header {
    display: flex;
    align-items: center;
    gap: 1.35em;
}

.cmp__testimonial-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cmp__testimonial-name {
    margin-bottom: 0;
}

.cmp__testimonial-desc {
    margin-top: 0;
}


@media (min-width: 900px) {
    
    .cmp__testimonials {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: normal;
        justify-content: space-between;

    }
}

@media(min-width: 1200px)
{

    .cmp {
        padding: 6.9em 11.4%;
    }
    .cmp__header {
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 4.17em;
    }

    .cmp__intro {
        margin-left: 0;
        margin-bottom: 0;
    }

    .cmp__ratings {
        margin-right: 0;
    }
   
    .cmp__rating {
        flex-direction: row;
        gap:1.8em;
        padding: 1.17em 1.88em;
    }

    .cmp__rating:nth-child(1)
    {
        position: relative; 
        right: 5.58em;
    }

    .cmp__rating:nth-child(2)
    {
        position: relative; 
        right: 2.7em;
    }
}


@media (min-width: 1400px)
{
    .cmp__testimonial:nth-child(2)
    {
        margin-top: .94em;
    }

    .cmp__testimonial:nth-child(3)
    {
        margin-top: 1.88em;;
    }
}